<!DOCTYPE HTML>
<html>
  <div class="container">
    <head>
      <link href="css/bootstrap.css"   rel="stylesheet">
      <link href="css/bootstrap-responsive.css"   rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
      <form method="post" action="/new_outfit">
        <div class="row clearfix">
          <div>
            <h2>What is the Occassion?</h2>
            <select class="button" name="occassion">
              <option value="Brunch"    >Brunch</option>
              <option value="Lunch"     >Lunch</option>
              <option value="Dinner"    >Dinner</option>
            </select>
          </div>

          <div>
            <h2>What Time of Day?</h2>
            <select class="button" name="occassion">
              <option value="Morining"  >Morning</option>
              <option value="Noon"      >Noon</option>
              <option value="Night"     >Night</option>
            </select>
          </div>

          <div>
            <h2>With Who?</h2>
            <select class="button" name="occassion">
              <option value="Friends"  >Friends</option>
              <option value="Family"   >Family</option>
              <option value="Date"     >Date</option>
            </select>
          </div>
        </div>
      </form>
      <script src'"/js/bootstrap.min.js"></script>
    </body>
  </div>
</html>